/** カスタムプロパティ **/
:root {
   --color-main: #ffa545;
  --color-bg: #FFFBF7;
  --fontsize-title: 16px;
  --fontsize-text: 13px;
}

/* 全画面共通 */
body {
    background-color: var(--color-bg);
    color: #3e3e3e;
    font-family: 'Inter';
}
.App {
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    padding: 16px;
    max-width: 600px;
}
header > img {
    height: 23px;
}
button {
    display: block;
    padding: 13px 30px;
    border-radius: 23px;
    font-size: var(--fontsize-title);
    font-weight: bold;
    text-align: center;
}


/* Search */
    /* input共通 */
    input {
        font-size: var(--fontsize-title);
        width: 40px;
        text-align: center;
        border: solid var(--color-main) 1.7px;
        padding: 8px;
        background-color: #fff;
        border-radius: 4px;
    }
.date {
    display: flex;
    justify-content: center;
    margin: 40px auto 20px auto;
    font-size: var(--fontsize-title);
}
.date > p {
    padding: 8px 5px 8px 1px;
    display: flex;
    align-items: flex-end;
}
.weather,
.location {
    text-align: center;
    margin: 0 0 10px 0;
}
.weather > input,
.location > input {
    width: 150px;
    font-size: var(--fontsize-title);
}
.enter {
    margin: 35px auto;
    background-color: var(--color-main);
    color: var(--color-bg);
    box-shadow: 0 3.5px #ff832b;
}
.enter:hover {
    box-shadow: none;
    transform: translate3d(0, 3px, 0);
}

/* Result */
.result {
    width: 100vw;
    height: 100vh;
}
.result-inner {
    padding: 5vh 5vw;
}
.result-describe {
    text-align: center;
    margin: 0 0 20px 0;
}
.result-describe > h1 {
    font-size: var(--fontsize-title);
    margin: 0 0 5px 0;
    font-weight: bold;
}
.result-describe > p {
    font-size: var(--fontsize-text);
    line-height: 16px;
    margin: 0 0 5px 0;
}
.Back,
.dummy {
    color: var(--color-main);
    background-color: var(--color-bg);
    border: solid var(--color-main) 1.7px;
    margin: 35px auto 0 auto
}
.PlayList > iframe{
    width: 100%;
    border: none;
    height: 440px;
}